* text=auto
*.py text eol=lf
*.c text eol=lf
Makefile text eol=lf
*.service text eol=lf
*.sh text eol=lf
*.tcl text eol=lf
*.xdc text eol=lf
*.bin binary
*.bit binary
*.xsa binary
*.zip binary
*.npz binary
*.png binary
